@font-face {
    font-family: "Monserat Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf") format ("truetype");
    font-style: normal;
    font-weight: 600;

  }
@font-face {
    font-family: "Monserat Regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf") format ("truetype");
    font-style: normal;
    font-weight: 400;
  }

